body {
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-size: 16pt; /* Размер основного шрифта в пунктах  */
  background-color: #f0f0f0; /* Цвет фона веб-страницы */
  color: #000; /* Цвет основного текста */
  text-align: justify;
}

div.mainRoot {
    margin: 15px
}

